# Ignore virtual environment
venv/

# Ignore data folder
# data/ - No, because I need it in the git repository and it very light  
# Ignore my notes folder 
notes/

# Ignore typical Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings if you use it
.vscode/
